@import "../util/mixin.styl"

.picker
  display: none
  position: fixed
  top: 0
  z-index: 100
  width: 100%
  height: 100%
  overflow: hidden
  text-align: center
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  font-size: 14px
  unselectable()
  .picker-mask
    position: absolute
    z-index: 500
    width: 100%
    height: 100%
    transition: all 0.5s
    -webkit-transition: all 0.5s
    background: rgba(0, 0, 0, 0)
    opacity: 0
    &.show
      background: rgba(0, 0, 0, 0.6)
      opacity: 1
  .picker-panel
    position: absolute
    z-index: 600
    bottom: 0
    width: 100%
    height: 243px
    background: #fff
    transform: translateY(243px)
    -webkit-transform: translateY(243px)
    transition: all 0.5s
    -webkit-transition: all 0.5s
    &.show
      transform: translateY(0)
      -webkit-transform: translateY(0)
    .picker-choose
      height: 40px
      display: flex
      justify-content: space-between
      align-items: center
      font-size: 14px
      border-bottom: 1px solid #e8e8e8
      .picker-title
        font-size: 14px
        text-align: center
        color: #333
      .confirm, .cancel
        font-size: 13px
        padding: 10px
        top: 6px
      .confirm
        color: #5a88e2
        margin-right: 15px
      .cancel
        color: #999
        margin-left: 15px
    .picker-content
      position: relative
      .mask-top, .mask-bottom
        position: absolute
        z-index: 10
        width: 100%
        height: 68px
        pointer-events: none
        transform: translateZ(0)
        -webkit-transform: translateZ(0)
      .mask-top
        border-bottom-1px(#ccc)
        top: 0
        background: linear-gradient(to bottom, rgba(255,255,255,.4), rgba(255,255,255,.8))
      .mask-bottom
        border-top-1px(#ccc)
        bottom: 0
        background: linear-gradient(to bottom, rgba(255,255,255,.4), rgba(255,255,255,.8))
    .wheel-wrapper
      flex-box()
      padding: 0
      .wheel
        flex()
        height: 173px
        overflow: hidden
        font-size: 21px
        .wheel-scroll
          margin-top: 68px
          line-height: 36px
          .wheel-item
            font-size: 16px
            height: 38px
            overflow: hidden
            white-space: nowrap
            color: #333
  .picker-footer
    height: 20px

@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5)
  .border-1px
    &::after, &::before
      -webkit-transform: scaleY(.7)
      -webkit-transform-origin: 0 0
      transform: scaleY(.7)
    &::after
      -webkit-transform-origin: left bottom

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2)
  .border-1px
    &::after, &::before
      -webkit-transform: scaleY(.5)
      transform: scaleY(.5)

